<div class="seletor-metodo">
  <button
    type="button"
    class="metodo-btn"
    [class.ativo]="activeMethod === 'credit_card'"
    (click)="select('credit_card')">
    Credit Card
  </button>
  <button
    type="button"
    class="metodo-btn"
    [class.ativo]="activeMethod === 'debit_card'"
    (click)="select('debit_card')">
    Debit Card
  </button>
  <button
    type="button"
    class="metodo-btn"
    [class.ativo]="activeMethod === 'pix'"
    (click)="select('pix')">
    PIX
  </button>
</div>
