<div class="brick-wrapper">

  <div *ngIf="!brickReady && !error" class="brick-loading" aria-hidden="true">
    <div class="skeleton skeleton-title"></div>
    <div class="skeleton skeleton-icons"></div>
    <div class="skeleton skeleton-input"></div>
    <div class="skeleton skeleton-row">
      <div class="skeleton skeleton-input-half"></div>
      <div class="skeleton skeleton-input-half"></div>
    </div>
    <div class="skeleton skeleton-input"></div>
    <div class="skeleton skeleton-input"></div>
    <div class="skeleton skeleton-btn"></div>
  </div>

  <div id="cardPaymentBrick_container" class="brick-container" [class.brick-hidden]="!brickReady"></div>

  <div *ngIf="error" class="error-message" role="alert">
    @switch (error) {
      @case (PAYMENT_ERROR_CODES.PAYMENT_DECLINED) {
        <p>Pagamento recusado. Verifique os dados do cartão e tente novamente.</p>
      }
      @case (PAYMENT_ERROR_CODES.INVALID_CARD_TOKEN) {
        <p>Cartão inválido ou bloqueado. Tente com outro cartão.</p>
      }
      @case (PAYMENT_ERROR_CODES.PROVIDER_ERROR) {
        <p>Erro de comunicação com o provedor de pagamento. Tente novamente.</p>
      }
      @default {
        <p>Ocorreu um erro no pagamento. Tente novamente.</p>
      }
    }
    <button *ngIf="!brickReady" type="button" class="btn-retry" (click)="retryLoad()">Tentar novamente</button>
  </div>

</div>
