<div class="brick-wrapper">
  <div *ngIf="!brickReady && !error" class="brick-loading" aria-hidden="true">
    <div class="skeleton skeleton-title"></div>
    <div class="skeleton skeleton-icons"></div>
    <div class="skeleton skeleton-input"></div>
    <div class="skeleton skeleton-row">
      <div class="skeleton skeleton-input-half"></div>
      <div class="skeleton skeleton-input-half"></div>
    </div>
    <div class="skeleton skeleton-input"></div>
    <div class="skeleton skeleton-input"></div>
    <div class="skeleton skeleton-btn"></div>
  </div>

  <div id="cardPaymentBrick_container" class="brick-container" [class.brick-hidden]="!brickReady"></div>
  <div *ngIf="error && !brickReady" class="retry-wrap">
    <button type="button" class="btn-retry" (click)="retryLoad()">Tentar novamente</button>
  </div>

</div>
